#register {
    width: 400px;
    margin: auto;
    background-color: aqua;
  }
  
  #login {
    width: 400px;
    margin: auto;
    background-color: bisque;
  }

  #peopleContainer, #shipsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }